<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>{{ question.question_text }}</h1> -->
    <!-- 투표 현황 출력 -->
    
        <form method="POST" action="{% url 'polls:vote' question.id %}" >
            {% csrf_token %}
            <fieldset>
            <legend>{{ question.question_text }}</legend>
            {% if error_messge %}
            <p><strong>{{ error_messge }}</strong></p>
            {% endif %}
            <!-- <ul>
                {% for choice in question.choice_set.all %}
                <li>{{ choice.choice_text }} -> {{ choice.votes }}</li>
                {% endfor %} -->
            <!-- </ul> -->
            {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id}}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            {% endfor %}
            </fieldset>
            <input type="submit" value="투표">
        </form>
    
</body>
</html>